body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

tr {
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}


.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  
}

.shiplist{
  display: flex;
  flex-direction: column;
}

.ship-section{
  width: 344px;
}

.game-info {
  margin-left: 20px;
}

.board {
  width: 330px;
  max-width: 330px;
  height: 330px;
}
.board-div{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.play-ready{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .game{
    flex-direction: column;
  }
}


